@font-face {
    font-family: 'Poppins-Bold';
    src: url(fontes/Poppins-Bold.ttf) format('truetype');

}

@font-face {
    font-family: 'Poppins-Regular';
    src: url(fontes/Poppins-Regular.ttf) format('truetype');

}

@font-face {
    font-family: 'Poppins-SemiBold';
    src: url(fontes/Poppins-SemiBold.ttf) format('truetype');

}

@font-face {
    font-family: 'Poppins-black';
    src: url(fontes/Poppins-Black.ttf) format('truetype');

}

a,button{
    cursor: pointer;
}

header{
    height: 10svh;
    background-color: transparent;
}

a{
    text-decoration:none;
}

a, button{
        cursor: pointer;
    }

header{
    height: 10svh;
}

html {
  scrollbar-gutter: stable;
}

:root{
    --branca:rgb(251, 249, 249);
    --texto:rgb(76,66,67);
    --principal: rgb(245,62,78);
    --cor_amarelo:rgb(249, 169, 25);
    --cor_caixa:rgb(246, 241, 241);
}

#main_unico{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#main_unico_caixa{
    margin-top: 20svh;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 5svw;
    width: 30svw;
    height: 37svh;
    background-color:var(--texto) ;
}

#main_unico_caixa_cpf{
    margin-top: 10svh;
    margin-bottom: 5svh;
    display: flex;
    flex-direction: column;
}

#cpf{
    color: var(--branca);
    font-size:0.75svw ;
    margin-bottom: 1svh;
    font-family: "Poppins-Regular";
}

#caixa_cpf{
    font-family: "Poppins-SemiBold";
    text-align: center;
    border-radius: 2.5svh;
    width: 20svw;
    height: 5svh;
    background-color: var(--branca);
    border: none;
}

#main_unico_caixa_botao{
    background-color: var(--principal);
    text-align: center;
    align-items: center;
    display: flex;
    justify-content: center;
    width: 20svw;
    height: 5svh;
    border: none;
    border-radius: 2.5svh;
}

#main_unico_caixa_botao p{    
    width: 18svw;   
    color: var(--branca);
    font-size: 0.825svw;
    font-family: "Poppins-Bold";
    align-items: center;
    text-align: center;
    display: flex;
    justify-content: center;
}

#main_unico_caixa_botao img{
    position: absolute;
    margin-left: 17svw;
    height: 3svh;
    width: 1svw;
    
}

#main_unico_texto{
    margin-top: 1svh;
    color: var(--texto);
    font-size: 0.75svw;
    letter-spacing: 0.1svw;
    font-family: "Poppins-Regular";
}


@media screen and (max-width: 724px){

    button{
    cursor: pointer;
}

a{
    text-decoration:none;
}

header{
    height: 10svh;
}

html {
  scrollbar-gutter: stable;
}

:root{
    --branca:rgb(251, 249, 249);
    --texto:rgb(76,66,67);
    --principal: rgb(245,62,78);
    --cor_amarelo:rgb(249, 169, 25);
    --cor_caixa:rgb(246, 241, 241);
}

#main_unico{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#main_unico_caixa{
    margin-top: 30svh;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 4.5svh;
    width: 80svw;
    height: 20svh;
    background-color:var(--texto) ;
}

#main_unico_caixa_cpf{
    margin-top: 3svh;
    margin-bottom: 2svh;
    display: flex;
    flex-direction: column;
}

#cpf{
    color: var(--branca);
    font-size:1.25svh ;
    margin-bottom: 1svh;
    font-family: "Poppins-Regular";
}

#caixa_cpf{
    font-family: "Poppins-Bold";
    text-align: center;
    border-radius: 2svh;
    font-size: 2svh;
    width: 60svw;
    height: 4svh;
    background-color: var(--branca);
    border: none;
}

#main_unico_caixa_botao{
    background-color: var(--principal);
    text-align: center;
    align-items: center;
    display: flex;
    justify-content: center;
    width: 60svw;
    height: 4svh;
    border: none;
    border-radius: 2svh;
}

#main_unico_caixa_botao p{    
    width: 18svw;   
    color: var(--branca);
    font-size: 1.25svh;
    font-family: "Poppins-Bold";
    align-items: center;
    text-align: center;
    display: flex;
    justify-content: center;
}

#main_unico_caixa_botao img{
    position: absolute;
    margin-left: 52svw;
    height: auto;
    width: 3svw;
    
}

#main_unico_texto{
    margin-top: 1svh;
    color: var(--texto);
    font-size: 1.25svh;
    letter-spacing: 0.1svw;
    font-family: "Poppins-Regular";
}


}