@font-face {
    font-family: 'Poppins-Bold';
    src: url(fontes/Poppins-Bold.ttf) format('truetype');

}

@font-face {
    font-family: 'Poppins-Regular';
    src: url(fontes/Poppins-Regular.ttf) format('truetype');

}

@font-face {
    font-family: 'Poppins-SemiBold';
    src: url(fontes/Poppins-SemiBold.ttf) format('truetype');

}

@font-face {
    font-family: 'Poppins-black';
    src: url(fontes/Poppins-Black.ttf) format('truetype');

}

:root{
    --branca:rgb(251, 249, 249);
    --texto:rgb(76,66,67);
    --principal: rgb(245,62,78);
    --cor_primaria:rgb(169, 169, 169);
    --cor_caixa:rgba(246, 241, 241, 0.973);
}

body{
    background-color: var(--branca);
}


#header {
    border: none;
    border-radius: 10svh;
    padding-top: 7svh;
    padding-left: 1.5svw;
    position: fixed;
    background-color: var(--cor_caixa);
    width: 23.5svw;
    height: 83svh;
    left: -5svw;
    bottom: -10svh;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#header button {
    background-color: transparent;
    border-radius: 2.5svh;
    border: none;
    height: 5svh;
    width: 20svw;
    font-family: "Poppins-Regular"; 
    font-size: 0.75svw;
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s; 
}


#header button:hover:not(.botao-ativo):not(.active) {
    background-color: var(--cor_primaria);
}

.botao-ativo,
#header button.active {
    background-color: var(--texto) !important;
    color: white !important;
    font-weight: bold !important;          

}