html{
    scrollbar-gutter: stable;
}

@font-face {
    font-family: 'Poppins-Bold';
    src: url(fontes/Poppins-Bold.ttf) format('truetype');

}

@font-face {
    font-family: 'Poppins-Regular';
    src: url(fontes/Poppins-Regular.ttf) format('truetype');

}

@font-face {
    font-family: 'Poppins-SemiBold';
    src: url(fontes/Poppins-SemiBold.ttf) format('truetype');

}

@font-face {
    font-family: 'Poppins-black';
    src: url(fontes/Poppins-Black.ttf) format('truetype');

}

header{
    height: 10svh;
    background-color: transparent;
}

:root{
    --branca:rgb(251, 249, 249);
    --texto:rgb(76,66,67);
    --principal: rgb(245,62,78);
    --cor_primaria:rgb(8, 0, 16);
    --cor_caixa:rgb(246, 241, 241);
}

button{
    cursor: pointer;
}

header{
    height: 10svh;
}

a{
    text-decoration: none;
}

main{
    height: 90svh;
}

#main_unico{
    padding-top: 10svh;
    margin-left: 10svw;
    width: 80svw;
    display: flex;
    flex-direction: row;
    gap: 8svh;
    justify-content: space-between;
}

.main_unico_caixa_texto{
    color: var(--texto);
    font-family: "Poppins-Regular";
    font-size: 0.5svw;
}

.main_unico_caixa{
    width: 20svw;
    height: auto;
    border: solid 0.05svw;
    border-radius: 4svh;
}

.main_unico_caixa_img{
    width: 20svw;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 40svh;
    object-fit: contain; /* adicione essa linha */
}

.main_unico_caixa_img_marcas{
    margin-top: 0svh;
    width: 16svw;
    height: 38svh;
}

.main_unico_caixa_img a{
    width: 100%;
    display: flex;
    gap: 0.5svw;
    justify-content: flex-end;
    margin-top: 0svh;
    margin-right: 4svw;
    font-size: 0.5svw;
}

.main_unico_caixa_img a img{
    width: 0.5svw;
}

.main_unico_caixa_texto_informaçao{
    height: 34svh;
    margin-top: 0.2svh;
    padding-left: 0svw;
    padding-right: 0svw;
    width: 20svw;
    color: var(--branca);
    background-color:var(--texto) ;
    border-radius: 4svh 4svh 3.7svh 3.7svh;
}

.main_unico_caixa_texto_informaçao_titulo{
    padding-top: 4svh;
    margin-left: 3svw;
    margin-bottom: 4svh;
    font-size: 1.25svw;
    font-family: "Poppins-Bold";
}

.main_unico_caixa_texto_informaçao_texto{
    width: 14svw;
    margin-left: 3svw;
    font-size: 0.75svw;
    text-align: justify;
    font-family: "Poppins-Regular";
    letter-spacing: 0.1svw;
    line-height: 2svh;
    padding-bottom: 4svh;
}


@media screen and (max-width: 764px){
    main{
    height: 90svh;
}

#main_unico{
    padding-top: 10svh;
    margin-left: 10svw;
    width: 80svw;
    display: flex;
    flex-direction: column;
    gap: 8svh;
    justify-content: space-between;
}

.main_unico_caixa{
    width: 80svw;
    height: auto;
    border: solid 0.05svw;
    border-radius: 2.5svh;
}

.main_unico_caixa_img{
    width: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 25svh;
}

.main_unico_caixa_img_marcas{
    margin-top: 3svh;
    width: 50svw;
    height: auto;
}

.main_unico_caixa_img a{
    font-family: "Poppins-Regular";
    width: 100%;
    display: flex;
    gap: 0.5svw;
    justify-content: flex-end;
    margin-top: auto;
    margin-right: 4svw;
    font-size: 1.25svh;
}

.main_unico_caixa_img a img{
    width: 1.5svw;
}

.main_unico_caixa_texto_informaçao{
    margin-top: 2svh;
    height: auto;
    padding-left: 0.1svw;
    padding-right: 0.1svw;
    width: 80.3svw;
    color: var(--branca);
    background-color:var(--texto) ;
    border-radius: 2.5svh;
}

.main_unico_caixa_texto_informaçao_titulo{
    padding-top: 1.5svh;
    margin-left: 10svw;
    margin-bottom: 1svh;
    font-size: 1.5svh;
    font-family: "Poppins-Bold";
}

.main_unico_caixa_texto_informaçao_texto{
    width: 60svw;
    margin-left: 10svw;
    font-size: 1svh;
    font-family: "Poppins-Regular";
    letter-spacing: 0.1svw;
    line-height: 1.75svh;
    padding-bottom: 2svh;
}
}


