# Environment configuration for Astoria

# Server
PORT_ASTORIA=3005

# CORS Configuration
ALLOWED_ORIGIN=http://localhost:3005,http://astoria.local,http://2.24.91.208:3005

# Production environment
NODE_ENV=development
