PORT_ADMIN=3001
NODE_ENV=development
ALLOWED_ORIGIN=http://localhost:3001

JWT_SECRET=seu_segredo_jwt_aleatorio_64_caracteres_minimo
JWT_EXPIRES_IN=1h
JWT_ISSUER=grupo-astoria-admin
JWT_AUDIENCE=grupo-astoria-admin-users

DB_HOST=localhost
DB_PORT=3306
DB_USER=seu_usuario_mysql
DB_PASSWORD=sua_senha_mysql
DB_NAME=seu_banco_dados

