# Environment configuration for Chocosul

# Server
PORT_CHOCOSUL=3002

# CORS Configuration
ALLOWED_ORIGIN=http://localhost:3002,http://chocosul.local,http://2.24.91.208:3002

# Production environment
NODE_ENV=development
