@font-face {
    font-family: 'Poppins-Bold';
    src: url(fontes/Poppins-Bold.ttf) format('truetype');

}

@font-face {
    font-family: 'Poppins-Regular';
    src: url(fontes/Poppins-Regular.ttf) format('truetype');

}

@font-face {
    font-family: 'Poppins-SemiBold';
    src: url(fontes/Poppins-SemiBold.ttf) format('truetype');

}

@font-face {
    font-family: 'Poppins-black';
    src: url(fontes/Poppins-Black.ttf) format('truetype');

}

:root{
    --branca:rgb(251, 249, 249);
    --texto:rgb(76,66,67);
    --principal: rgb(245,62,78);
    --cor_primaria:rgb(169, 169, 169);
    --cor_caixa:rgba(246, 241, 241, 0.973);
}

header{
    height: 20svh;
    

}

body{
    background-color: var(--branca);
}

header img{
    margin-left: 5svw;
    margin-top: 10svh;
    width: 15svw;
    height: 7svh;
}

#main_tudo{
    width: 95svw;
    display: flex;
    flex-direction: row;
    gap: 5svw;
}

#menu_lateral{
    width: 20svw;
    height: 80svh;
}

#main_tudo_caixas{
    display: flex;
    flex-direction: row;
    gap: 2.5svw;
}

.main_tudo_caixas_caixa{
    width: 20svw;
    height: 43svh;
    background-color: var(--texto);
    border: none;
    border-radius: 5svh;
    display: flex;
    flex-direction: column;
    gap: 2svh;
    justify-content: center;
    align-items: center;
}

.main_tudo_caixas_caixa_texto{
    height: 4svh;
    width: 15.5svw;
    border: none;
    border-radius: 2svh;
    padding-left: 0.5svw;
}

.main_tudo_caixas_caixa_conjunto{
    width: 16svw;
    height: auto;
    display: flex;
    flex-direction: column;
    gap: 0.5svh;

}

.main_tudo_caixas_caixa_conjunto label{
    font-family: "Poppins-Regular";
    font-size: 0.75svw;
    color: var(--branca);
}

.main_tudo_caixas_caixa_lixeira{
    height: 2.5svh;
    margin-left: auto;
    margin-right: 2svw;
    cursor: pointer;
}

#main_tudo_caixas_adcionar{
    width: 20svw;
    height: 43svh;
    background-color: var(--texto);
    border: none;
    border-radius: 5svh;
    display: flex;
    flex-direction: column;
    gap: 2svh;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

#main_tudo_caixas_adcionar p{
    font-size: 7.84316svw;
    font-family:"Poppins-Regular" ;
    color: var(--branca);
}